.rs-picker-daterange-menu{
    z-index: 1111111 !important;
}


.textBeforeAndAfter::after{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #ff5f67;
    top: 50%;
    position: absolute;
}

.textBeforeAndAfter::before{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #ff5f67;
    top: 50%;
    position: absolute;
}